* {
  font-family: 'Poppins', sans-serif;
}


.container {
  position: relative;
  border: rgb(0, 0, 0) solid 1px;
  height: 230px;
  width: 130px;
  display: inline-block;
  margin: 5px;
  padding: 8px 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #7a3ac98a,#8f64c573,#b8a6ce8e );
  background-size: 400%, 400%;
  color: #000;
  overflow: hidden;
  border-radius: 10px;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transition: 0.8s;
  animation: animation 15s ease infinite;
}

@keyframes animation {
  0% {
    background-position: 0, 50%;
  }

  50% {
    background-position: 100%, 50%;
  }

  100% {
    background-position: 0, 50%;
  }
}

.container:hover {
  transform: scale(1.1);
  background: #b8a6ce;
}