* {
	margin: 0;
	padding: 0;
}

.ash{
    bottom: 0%;
    position: absolute;
}

.button {
	position: absolute;
	top: 50%;
	right: 50%;
	border-radius: 4%;
	background: #b96ccc;
	cursor: pointer;
	color: #000;
	font-size: 20px;
	text-decoration: none;
	width: 100px;
	height: 50px;
	border: none;
	font-weight: 600;
	transition: 1.5s;
	animation: buttonanimate 1.5s ease infinite ;
}
@keyframes buttonanimate {
	0%{
		box-shadow: 0 0 0 0 rgba(256,256,256,.1);
		transform: scale(.99)	
	}
	50%{transform: scale(1);
		box-shadow: 0 0 0 25px rgba(256,256,256,0);}
	100%{transform: scale(.99);
		box-shadow: 0 0 0 0 rgba(256,256,256,0);}
}
.button:hover {
	background: #bd8aca;
	transform: scale(1.1);
	animation:none
}

.image {
position: absolute;
top: 14%;
left: 60%;
}