.container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    /* background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.308)); */ 
}
.li{
    /* margin: 10px;  */
    display: inline-block;
    font-size: large; 
    color: white;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.308)); 
}
.li:focus{
    color: red;
}
.li:hover{
    color: black;
    background: white;
}
